body {
  background-color:#ffc38b;
}

hr {
 height: 0px;
 border-style: none;
 border-top-style: dotted;
 border-width: 5px;
 border-color: grey;
 width: 5%;
}
h1 {
  color: red;
}
h3 {
  color: red;
}
